/*           Debut du css pour la navbar                  */

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

body{
    background-color: #EEF2F8;
}

nav{
    background-color: #353E4E;
    text-align: left;
    vertical-align: middle;
    position: sticky;
    margin: 0 auto;
    z-index: 1000;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.stageman{
    max-width: 25%;
}

/*          Fin du css pour la navbar                    */
/*            Debut du css pour le footer                */

footer{
    background-color: #353E4E;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}

.contact{
    padding: 1%;
    text-align: left;
}

.mention{
    padding: 1%;
    text-align: right;
}

/*            Fin du css pour le footer                */
/*       Debut du css pour le menu créer                 */


nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    text-decoration:none ;
    color: white;
    border-bottom: 3px solid #04567C;
}

/*            Fin du css pour le menu Créer                  */
/*            Debut du css pour le caroussel                 */

.carouinfo{
    margin: 5%;
    margin-bottom: 0%;
}

.imgcarou{
    width: 1000px;
    height: 500px;
    object-fit: cover;
}

.textcarou{
    color:white;
    background-color: #353E4E;
}

/*             Fin du css pour le caroussel                 */
/*      Debut du css pour les Entreprises partenaires       */

.boxpart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    font-size: 200%;
}

.imgpart{
    margin: 5%;
    width: 90%;
    height: 80%;
    object-fit: cover;
}

.divpart{
    margin: 1%;
    background-color: #353E4E;
    color: white;
}

/*      Fin du css pour les Entreprises partenaires       */

@media screen and (min-width: 701px) and (max-width: 1200px) {
    .imgcarou{
        width: 500px;
        height: 200px;
        object-fit: cover;
    }

    .sise1{
        font-size: 0.5em;
    }

}


@media screen and (max-width: 700px) {
    .sise1{
        font-size: 0.3em;
    }

    .sise2{
        font-size: 0.9em;
    }

    .imgcarou{
        width: 500px;
        height: 200px;
        object-fit: cover;
    }

    .textcarou{
        font-size: 0.9em;
    }
}