/*           Début du css pour la page                      */

.section_top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.section_bot {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

article {
    margin-top: 5%;
    margin-bottom: 5%;
}

section {
    border: solid 2px black;
}

section>aside {
    width: 30px;
    text-align: center;
    display: inline-block;
}

section>div{
    width: 95%;
    display: inline-block;

}

@media all and (max-width:1024px)
{
    section>div{
        width:85%   
    }
}

/*           Fin du css pour la page                      */

/* pour mieux voir les section*/

section{
    border: solid 1px red;
}


section>div{
    border: solid 1px green;
}


div>div{
    border: solid 1px yellow;

}

article{
    border: solid 1px purple;
}

aside {
    border: solid 1px blue
}



/*           Debut du css pour la navbar                  */
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

body{
    background-color: #EEF2F8;
}

nav{
    background-color: #353E4E;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    position: sticky;
    margin: 0 auto;
    z-index: 1000;
}

a.nounderline
    { 
    text-decoration:none; 
    color: white;
    max-width: 100%;
} 

.boxnav {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    font-size: 200%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bordurenavleft{
    border-left: 2px solid black;
}

.bordurenavright{
    border-right: 2px solid black;
}

.stageman{
    max-width: 25%;
}
/*          Fin du css pour la navbar                    */
/*       Debut du css pour le menu créer                 */

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    text-decoration:none ;
    color: white;
    border-bottom: 3px solid #04567C;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #353E4E;
    position: absolute;
    width: 200%;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
    text-decoration: underline  #04567C;
}

.deroulant{
    width: 100%;
}

.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

/*            Fin du css pour le menu Créer                  */
/*            Debut du css pour le footer                */

footer{
    background-color: #353E4E;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer a{
    color: white;
    text-decoration: none;
}

.contact{
    padding: 1%;
    text-align: left;
}

.mention{
    padding: 1%;
    text-align: right;
}

/*            Fin du css pour le footer                */