/*           Début du css pour la page                      */


article {
    margin-top: 5%;
    margin-bottom: 5%;
}

section {
    border: solid 2px black;
    border-radius: 10px;

}

section>aside {
    width: 30px;
    text-align: center;
    display: inline-block;
}



/*           Fin du css pour la page                      */

/* pour mieux voir les section

section{
    border: solid 1px red;
}


section>div{
    border: solid 1px green;
}


div>div{
    border: solid 1px yellow;

}

article{
    border: solid 1px purple;
}

aside {
    border: solid 1px blue
}

body{
    background-color: #EEF2F8;
}
 pour mieux voir les section*/