/*           début du css pour la page                      */

body {
    background-color: #EEF2F8;
}
header  {
    margin-top: 3%;
    text-align: center;
   align-items: center;
   font-size: small;
}

fieldset {
    background-color: #353E4E;
    width: max-content;
    height: max-content;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    

}

form {
    align-items: center;
    display: grid;
    grid-template-columns: 350px 350px;
    margin: 10px;
    color: white;
}

input {
    font-size: large;
    width: 18rem;
    height: 30px;
    border: 2px;
    border-color: black;
}

button {
    background-color: #D9D9D9;
    border-color: #A6A6A6;
    text-align: center;
    display: inline-block;
    width: 150px;
    margin-left: 500px;
}

/*           Fin du css pour la page                      */