
/*       Debut du css pour la page searchuser                 */


section{
    background-color: #717479;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    border-radius: 10px;
}

h1{
    text-decoration: underline;
}

label{
    font-weight: bold;
}


section button {
    background-color: #04567C; 
    font-weight: bold;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }

 pour miuex voir les section

section{
    border: solid 1px red;
}


section>div{
    border: solid 1px green;
}


div>div{
    border: solid 1px yellow;

}




/*          Fin du css pour la page searchuser                    */
